<div class="product<%=(animalType==defaultAnimal) ? "" : " hidden"%>" data-animal="<%=animalType%>">
    <img src="<%=`${urls.imgURL}`%>" alt="">
    <p><em><%= type %>></em></p>
    <h4><%- name %></h4>
    <div class="expandable closed">
        <div>
            <p>Buy Now</p>
            <img class="open_close_icon" src="<%=`${GoogleIconsAWSurl}google_font_plus.svg`%>" data-imageOpen="https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/expand_less_white.svg" data-imageClosed="https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/expand_more_white.svg" alt="dropdown">
        </div>
        <div>
           <ul>
            <li><a href="<%= urls.amazonURL %>">Buy Now on Amazon</a></li>
            <li><a href="<%= urls.costcoURL %>">Buy Now on Costco</a></li>
            <li><a href="<%= urls.petSmartURL %>">Buy Now on PetSmart</a></li>
           </ul>
        </div>
    </div>
    <a href="<%= urls.productPageURL %>">Learn More</a>
</div>