<%- include('src/partials/head'); %>

<main>
    <%- include('src/partials/landing', {header: landing.header, tableImageURL: `${ImageAWSurl}${landing.image}`}); %>
    <section>
        <div class="filter expandable">
            <div>
                <p>Filter Products</p>
                <img class="open_close_icon" id="test" src="<%=`${GoogleIconsAWSurl}expand_more_grey.svg`%>" data-image-open="<%=`${GoogleIconsAWSurl}expand_less_grey.svg`%>" data-image-close="<%=`${GoogleIconsAWSurl}expand_more_grey.svg`%>" alt="dropdown">
            </div>
            <div>
                <h4>Filter By Animal</h4>
                <form class="selectorForm">
                    <div>
                        <input type="radio" name="pets" id="dog" value="dogs" <%= (defaultAnimal=="dog") ? 'checked' : ''%>> 
                        <label for="dog">DOGS</label><br>
                    </div>
                    <div>
                        <input type="radio" name="pets" id="cat" value="cats" <%= (defaultAnimal=="cat") ? 'checked' : ''%>>
                        <label for="cat">CATS</label><br>
                    </div>
                </form>
            </div>
        </div>
        <% for (product of products) { %>
            <%- include('src/partials/product', product); %>
        <% } %>
    </section>
</main>


<%- include('src/partials/footer'); %>

<script src="<%=`${AWSurl}/scripts/script.js`%>"></script>
<script src="<%=`${AWSurl}/scripts/filter.js`%>"></script>
    
</body>
</html>