<%- include('src/partials/head'); %>

<main>
    <%- include('src/partials/landing', {header: landing.header, tableImageURL: `${ImageAWSurl}${landing.image}`}); %>
    <%- include('src/partials/horizontal-rule', {src: 'https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_paw_print.svg'}); %>
    <section class="why-cosequin-product">
        <img width="60px" height="60px" src="https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_joint.svg" alt="">
        <h2>
            <%- whyCosequin.header %>
        </h2>
        <p><strong>
            <%- whyCosequin.tagline %> 
        </strong></p>
        <%# This is a custom bullet list %>
        <% for (bullet of whyCosequin.bulletPoints) { %>
            <div class="custom-bullet-list">
                <img src="https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_paw_print_solid.svg" alt="">
                <p><%-bullet%></p>
            </div>  
        <% } %>
        <%- include('src/partials/shop-buttons'); %>
    </section>
    <%- include('src/partials/horizontal-rule', {src: 'https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_book.svg'}); %>
    <section class="product-details">
        <h2>
            Product Details
        </h2>
        <div>
            <div class="expandable closed">
                <div>
                   <h3>
                        Product Description
                   </h3>
                   <img class="open_close_icon" src="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" data-image-open="<%=`${GoogleIconsAWSurl}close_blue.svg`%>" data-image-close="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" alt="Open/Close">
                </div>
                <div>
                    <p>
                        <strong>
                        <%- productDetails.productDescription.header %>
                        </strong>
                    </p>
                    <p>
                        <%- productDetails.productDescription.body %>
                    </p>    
                </div>
            </div>
            <div class="expandable closed">
                <div>
                  <h3>
                    Product Facts
                  </h3>
                  <img class="open_close_icon" src="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" data-image-open="<%=`${GoogleIconsAWSurl}close_blue.svg`%>" data-image-close="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" alt="Open/Close">
                </div>
                <div>
                    <table class="active-ingredients">
                        <caption>
                            <%- productDetails.productFacts.caption %>
                        </caption>
                        <% for (row of productDetails.productFacts.entries) { %>
                            <tr>
                                <% for (entry of row) { %>
                                    <td> <%- entry %> </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                    <p><span class="arrow">&#9650</span>Contains up to 10% moisture</p>
                </div>
            </div>
            <div class="expandable closed">
                <div>
                   <h3>
                    Directions For Use
                   </h3>
                   <img class="open_close_icon" src="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" data-image-open="<%=`${GoogleIconsAWSurl}close_blue.svg`%>" data-image-close="<%=`${GoogleIconsAWSurl}open_blue.svg`%>" alt="Open/Close">
                </div>
                <div>
                    <table class="directions">
                        <caption> <%- productDetails.productFacts.caption %></caption>
                        <% if (productDetails.directions.header.length == 2) { %>
                            <% let rows = productDetails.directions.header[1].length %>
                            <% for (headerRow of productDetails.directions.header) { %>
                                <% if (headerRow.length == 1) { %>
                                    <tr><th colspan="<%=rows%>"><%= headerRow[0] %></th></tr> 
                                <% } else { %>
                                    <% for (header of headerRow) { %>
                                        <th><%=header%></th>
                                    <% } %>
                                <% } %>
                            <% } %> 
                        <% } else { %>
                            <% for (header of productDetails.directions.header[0]) { %>
                                <th> <%- header %> </th>
                            <% } %>
                        <% } %>
                        <% for (row of productDetails.directions.entries) { %>
                            <tr>
                                <% for (entry of row) { %>
                                    <td> <%- entry %> </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                    <% if (productDetails.productFacts.furtherDirections != "") {%>
                        <p><%- productDetails.productFacts.furtherDirections %></p>
                    <% } %> 
                    
                </div>
            </div>
        </div>
    </section>
    <%- include('src/partials/horizontal-rule', {src: 'https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_RD.svg'}); %>
    <section class="ingredients">
        <h2>Active Ingredients in <span class="regulatory">Cosequin</span></h2>
        <div>
            <% for (claim of activeIngredients.entries) { %> 
                <p>
                    <strong><%- claim.title %></strong>
                    <%- claim.body %>
                </p>
            <% } %>
            <div class="emphasized">
                <%- activeIngredients.emphasized %>
            </div>
        </div>
    </section>

    <%- include('src/partials/horizontal-rule', {src: 'https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_usa_retail.svg'}); %>

    <section class="where-to-buy">
        <img src="<%=`${ImageAWSurl}${landing.image}`%>" alt="">
        <h3>Where To Buy</h3>
        <%- include('src/partials/shop-buttons'); %> 
    </section>
</main>


<%- include('src/partials/footer'); %>

<script src="<%=`${AWSurl}/scripts/script.js`%>"></script>
    
</body>
</html>